.page{
    padding-top: 100px;
}
.text{
    font-size: 35px;
    font-weight: 500;
    color: rgba(89, 81, 76, 0.788);
    margin-top: 20px;
}

.micro{
    font-size: 30px;
    font-weight: 500;
    color: rgba(255, 107, 15, 0.788);
}